.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--back-color);
    transform: translateX(-100%);
    top: 0;
    z-index: 25;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    position: fixed;
    z-index: -10;
    display: none;
    transition: all .3s ease-in-out;
}

.sidebar-container.open {
    z-index: 20;
    display: block;
    background-color: rgba(95, 95, 95, 0.3);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar__nav--list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    max-height: 216px;
    overflow-y: auto;
    width: 100%;
}

.sidebar__link {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 400;
    transform: translateX(0);
}

.sidebar__link.active {
    color: var(--accent-color);
    transform: translateX(4px);
}

.sidebar__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    flex-direction: column;
    cursor: pointer;
}

.sidebar__close div {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}

.sidebar__close div:nth-child(1) {
    transform: rotate(45deg);
}

.sidebar__close div:nth-child(2) {
    transform: rotate(-45deg);
}